<h1>New Category</h1>
<% form_tag :action => 'create' do %>
  <label for="category_name">Name</label>
  <%= text_field 'category', 'name'  %>
  <%= submit_tag "Create" %>
<% end %>
<br/>
<%= link_to 'Back', :action => 'index' %>